/* ------------------------*/ /* ---------->>> GLOBAL <<<-----------*/ /* ------------------------*/


/* CSS Variables */
:root {
    --amazon: #ff9900;
    --aol: #00c4ff;
    --calendar: #4285f4;
    --cpanel: #ff6c2c;
    --drive: #34a853;
    --facebook: #3b5998;
    --github: #6cc644;
    --gmail: #ea4335;
    --godaddy: #00A63F;
    --icloud: #A3AAAE;
    --linkedin: #0077b5;
    --messages: #0084ff;
    --netflix: #E50914;
    --newegg: #ff9900;
    --pinterest: #bd081c;
    --plex: #e5a00d;
    --primevideo: #ff9900;
    --pulseway: #00A2E4; /* 0B9CDB */
    --reddit: #ff4500;
    --replit: #111C31; /* 697D85 */
    --speedtest: #ff9900;
    --spotify: #1db954;
    --steam: #00adee;
    --twitter: #1da1f2;
    --umuc: #ff9900;
    --xbox: #107C10;
    --yahoo: #ff9900;
    --youtube: #ff0000;
    
    
}
/* 
OFFICIAL COLORS

Alphabet: #ed1c24
Amazon: #ff9900, #146eb4
Android: #a4c639
Dropbox: #007ee5, #7b8994, #47525d, #3d464d
Facebook: #3b5998
GitHub: #4078c0, #6cc644, #bd2c00, #c9510c, #6e5494, #fafafa, #f5f5f5, #333
GoDaddy: #7db701, #ff8a00
Google: #4285f4, #34a853, #fbbc05, #ea4335
HackerNews: #ff4000
Hulu: #66aa33, #99cc33, #41811e, #222222, #666666, #e8e8e8
IFTTT: #33ccff, #ff4400, #000000
Indeed: #2164f4, #ff6600
LinkedIn; #0077b5, #000000, #313335, #86888a, #caccce, #00a0dc, #8d6cab, #dd5143, #e68523
Messenger: #0084ff
Microsoft: #f65314, #7cbb00, #00a1f1, #ffbb00
Netflix: #e50914, #221f1f, #f5f5f1
NVIDIA: #76b900
PayPal: #003087, #009cde, #012169
PHP: #8892be, #4f5b93, #99cc99
Pinterest: #bd081c
Plex: #e5a00d, #282a2d
Python: #ffde57, #4584b6, #646464
Raspberry Pi: #c7053d, #8cc04b
Reddit: #ff4500, #5f99cf, #cee3f8
Slack: #6ecadc, #e9a820, #e01563, #3eb991
Snapchat; #fffc00
Spotify: #1db954, #191414
Stack Overflow: #f48024, #222426, #bcbbbb
Steam: #00adee, #000000
Twitch: #6441a5, #b9a3e3, #262626, #f1f1f1
Twitter: #1da1f2, #14171a, #657786, #aab8c2, #e1e8ed, #f5f8fa
Windows: #0078d7, #002050, #ffb900, #d83b01, #e81123, #b4009e, #5c2d91, #008272, #107c10
WordPress: #21759b, #d54e21, #464646
XBOX: #52b043
YouTube: #ff0000, #282828

*/

*, *:before, *:after {-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
html {font-size: 100%;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
body {
    font: 14px/24px Roboto, Arial, Helvetica, sans-serif;
    background-color: rgba(38, 40, 49, 1);
    text-align: center;
    color: #636363;
}

p, h1, h2, h3, h4, h5, h6, form, table, hr, pre, blockquote {margin: 0 0 20px;}
h1 {font-size: 36px;}
h2 {color: #000;font: italic 36px/38px Roboto, Arial, Helvetica, sans-serif;margin: 0 0 15px;}
h3 {font-size: 24px;}
h4 {font-size: 18px;}
h5 {font-size: 14px;}
h6 {font-size: 12px;}
ul, ol, dl, menu {margin: 0 0 20px;}

a {text-decoration: none;color: #ed1b2e;}
    a:focus {outline: thin dotted;}
    a:active, a:hover {text-decoration: underline;}
#header {
    position: sticky;
    top: 0px;
    right: 0px;
    left: 0px;
    background-color: rgba(0, 204, 0, 0.75);
    padding: 5px;
    margin: 0px 0px 8px 0px;
}
#header-logo img {
    width: 100%;
    height: 100%;
    max-width: 320px;
    max-height: 55px;
}		
.row {
    margin: 6px auto;
    border: 0px solid black;
    background-color: white;
}
.row:nth-child(even) {
    background: rgba(0, 0, 0, 0.025);
}
.row-label {
    margin-bottom: 5px;
}
.column {
    display: inline-block;
    padding: 2px 4px;
    font-size: 18px;
}
.column-label {
    border-bottom: 1px solid black;			
    padding-left: 6px;
    font-weight: 700;
    font-size: 20px;
    text-align: left;
    text-transform: uppercase;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
}
.form-row {
    display: grid;
    margin: 8px 12px;
    grid-column: 1 / 2;
}		
label {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 100px;
} 
input, button {
    grid-column: 2 / 3;	
}
#searchbar {
    display: block;
    right: 25px;
}
#searchterm {
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.75);
}
#searchbutton {
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.75);
    background-color: gainsboro;
}

/*  */
#tile-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start; 
    align-items: flex-start;
    align-content: space-around;
    padding: 20px 10px;
}
.tile {
    height: 150px;
    width: 175px;   
    padding: 8px;
    margin: 5px;
    margin-bottom: 45px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    color: #fff;
    background-color: rgba(255, 255, 255, .045);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
}
.tile:hover {
    background-color: rgba(255, 255, 255, .05);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .75);
}
.tile a:focus {
    outline: thin dotted;
}
.tile a:active, a:hover {
    text-decoration: none;
}
.tile-content {
    font-size: 14px;
    text-align: left;
}
.tile-content b {
    font-size: 28px;
    display: block;
}
.tile:hover .tile-content {
    display: none;
}
.tile-icon {
    display: none;
    font-size: 50px;
    align-items: center;
    align-content: center;
}
.tile:hover .tile-icon {
    display: block;
}
.tile:hover .no-icon {
    display: block;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, .75);
}
.spacer {
    height: 150px;
    width: 75px;
    margin: 5px;
    margin-bottom: 45px;
    background-color: rgba(255, 255, 255, .045);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
}
.spacer:hover {
    background-color: rgba(255, 255, 255, .045);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
}
.dropdown-button {
    height: 150px;
    width: 175px;   
    padding: 8px;
    margin: 5px;
    margin-bottom: 45px;
    background-color: rgba(255, 255, 255, .045);
}
.dropdown-container {
    display: none;
    flex-basis: 100%;  
}
.dropdown-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start; 
    align-items: flex-start;
    align-content: space-around;
    padding: 10px 10px;
}


#amazon {
    border-bottom: 6px solid var(--amazon);
}
#amazon:hover {
    border-bottom: 2px solid var(--amazon);
    color: var(--amazon);
}
#aol {
    border-bottom: 6px solid var(--aol);
}
#aol:hover {
    border-bottom: 2px solid var(--aol);
    color: var(--aol);
}
#calendar {
    border-bottom: 6px solid var(--calendar);
}
#calendar:hover {
    border-bottom: 2px solid var(--calendar);
    color: var(--calendar);
}
#cpanel {
    border-bottom: 6px solid var(--cpanel);
}
#cpanel:hover {
    border-bottom: 2px solid var(--cpanel);
    color: var(--cpanel);
}
#drive {
    border-bottom: 6px solid var(--drive);
}
#drive:hover {
    border-bottom: 2px solid var(--drive);
    color: var(--drive);
}
#facebook {
    border-bottom: 6px solid var(--facebook);
}
#facebook:hover {
    border-bottom: 2px solid var(--facebook);
    color: var(--facebook);
}
#github {
    border-bottom: 6px solid var(--github);
}
#github:hover {
    border-bottom: 2px solid var(--github);
    color: var(--github);
}
#gmail {
    border-bottom: 6px solid var(--gmail);
}
#gmail:hover {
    border-bottom: 2px solid var(--gmail);
    color: var(--gmail);
}
#godaddy {
    border-bottom: 6px solid var(--godaddy);
}
#godaddy:hover {
    border-bottom: 2px solid var(--godaddy);
    color: var(--godaddy);
}
#icloud {
    border-bottom: 6px solid var(--icloud);
}
#icloud:hover {
    border-bottom: 2px solid var(--icloud);
    color: var(--icloud);
}
#linkedin {
    border-bottom: 6px solid var(--linkedin);
}
#linkedin:hover {
    border-bottom: 2px solid var(--linkedin);
    color: var(--linkedin);
}
#messages {
    border-bottom: 6px solid var(--messages);
}
#messages:hover {
    border-bottom: 2px solid var(--messages);
    color: var(--messages);
}
#netflix{
    border-bottom: 6px solid var(--netflix);
}
#netflix:hover {
    border-bottom: 2px solid var(--netflix);
    color: var(--netflix);
}
#newegg {
    border-bottom: 6px solid var(--newegg);
}
#newegg:hover {
    border-bottom: 2px solid var(--newegg);
    color: var(--newegg);
}
#pinterest {
    border-bottom: 6px solid var(--pinterest);
}
#pinterest:hover {
    border-bottom: 2px solid var(--pinterest);
    color: var(--pinterest);
}
#plex {
    border-bottom: 6px solid var(--plex);
}
#plex:hover {
    border-bottom: 2px solid var(--plex);
    color: var(--plex);
}
#primevideo {
    border-bottom: 6px solid var(--primevideo);
}
#primevideo:hover {
    border-bottom: 2px solid var(--primevideo);
    color: var(--primevideo);
}
#pulseway {
    border-bottom: 6px solid var(--pulseway);
}
#pulseway:hover {
    border-bottom: 2px solid var(--pulseway);
    color: var(--pulseway);
}
#reddit {
    border-bottom: 6px solid var(--reddit);
}
#reddit:hover {
    border-bottom: 2px solid var(--reddit);
    color: var(--reddit);
}
#replit {
    border-bottom: 6px solid var(--replit);
}
#replit:hover {
    border-bottom: 2px solid var(--replit);
    color: var(--replit);
}
#speedtest {
    border-bottom: 6px solid var(--speedtest);
}
#speedtest:hover {
    border-bottom: 2px solid var(--speedtest);
    color: var(--speedtest);
}
#spotify {
    border-bottom: 6px solid var(--spotify);
}
#spotify:hover {
    border-bottom: 2px solid var(--spotify);
    color: var(--spotify);
}
#steam {
    border-bottom: 6px solid var(--steam);
}
#steam:hover {
    border-bottom: 2px solid var(--steam);
    color: var(--steam);
}
#twitter {
    border-bottom: 6px solid var(--twitter);
}
#twitter:hover {
    border-bottom: 2px solid var(--twitter);
    color: var(--twitter);
}
#umuc {
    border-bottom: 6px solid var(--umuc);
}
#umuc:hover {
    border-bottom: 2px solid var(--umuc);
    color: var(--umuc) !important;
}
#xbox {
    border-bottom: 6px solid var(--xbox);
}
#xbox:hover {
    border-bottom: 2px solid var(--xbox);
    color: var(--xbox);
}
#yahoo {
    border-bottom: 6px solid var(--yahoo);
}
#yahoo:hover {
    border-bottom: 2px solid var(--yahoo);
    color: var(--yahoo);
}
#youtube {
    border-bottom: 6px solid var(--youtube);
}
#youtube:hover {
    border-bottom: 2px solid var(--youtube);
    color: var(--youtube);
}



/*

messages
Repl.it
UMUC
PulseWay
iCloud
SpeedTest
AOL Mail
Yahoo Mail
Newegg
PrimeVideo
cPanel
GoDaddy
Google Developers



*/
/*

fab fa-apple
far fa-calendar-alt
far fa-comment-dots
fab fa-cpanel
far fa-envelope
fab fa-facebook
fab fa-facebook-f
fab fa-github
fab fa-github-alt
fab fa-github-square
fab fa-google
fab fa-google-drive
fab fa-google-play
far fa-hdd
fas fa-heartbeat
fas fa-laptop-code
fab fa-linkedin
fab fa-linkedin-in
far fa-map
fas fa-map-marked-alt
fas fa-map-marker-alt
fas fa-map-pin
fas fa-music
fab fa-napster
fas fa-network-wired
fas fa-pastafarianism
fab fa-php
fab fa-pinterest
fab fa-pinterest-p
fab fa-pinterest-square
fas fa-poo-storm
fas fa-poop
fas fa-power-off
fas fa-project-diagram
fas fa-sitemap
fab fa-python
fab fa-raspberry-pi
fab fa-reddit
fab fa-reddit-alien
fab fa-reddit-square
fab fa-slack
fab fa-slack-hash
fab fa-spotify
fab fa-steam
fab fa-steam-square
fab fa-steam-symbol
fas fa-terminal
fab fa-twitch
fab fa-twitter
fab fa-twitter-square
fab fa-windows
fab fa-yahoo	
fab fa-youtube
fab fa-xbox


*/